$primary-color: #092c4c;
$secondary-color: #f2994a;
.input-box-datepicker {
  .react-datepicker-wrapper {
    width: 90%;
    background: white;
    border-radius: 5px;
    margin: 2px 5px;
  }
  .react-datepicker-wrapper:focus {
    border: 1px solid $primary-color;
  }
  .react-datepicker__day--selected:hover {
    background-color: $secondary-color;
  }

  .react-datepicker__day--selected {
    background-color: $secondary-color;
  }
  .react-datepicker__day--keyboard-selected {
    background-color: $secondary-color;
  }

  span.error {
    color: red;
    font-size: 13px;
  }
  label {
    margin-left: 2%;
    color: rgba(255, 255, 255, 0.85);
  }
  input {
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    // margin: 2px 5px 10px 5px;
    border: 1px solid transparent;
    transition: all 0.5s ease-out;
  }
}
